.features-container {
  display: flex;
}

.features-items {
  display: flex;
  margin-left: -30px;
}

.features-items__list {
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
}

.features-items__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--second-bcg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-items__titles {
  margin-bottom: 10px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.features-items__description {
  font-family: var(--primary-font-family);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
