.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--first-bcg-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-contacts__link {
  display: inline-block;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-text-color);
  }
}

.footer-contacts__list:not(:last-child) {
  margin-bottom: 9px;
}

.street {
  color: var(--fourth-text-color);
}

.footer-social {
  margin-left: 70px;
}

.footer-social__title {
  display: inline-block;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--fourth-text-color);
  margin-bottom: 20px;
}

.subscribe-block {
  margin-left: auto;
}

.form-subscribe {
  display: flex;
}

.subscribe-block__title {
  margin-bottom: 20px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  color: var(--fourth-text-color);
}

.form-subscribe__input {
  width: 358px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  background-color: var(--first-bcg-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  border-radius: 4px;
}

.form-subscribe__input::placeholder {
  font-family: var(--primary-font-family);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-subscribe__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-left: 12px;
  padding-left: 28px;
  padding-right: 28px;

  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--fourth-text-color);

  background: var(--third-bcg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: inherit;
  cursor: pointer;
}

.form-subscribe__button-icon {
  margin-left: 10px;
  fill: var(--fifth-bcg-color);
}
