.main-header {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__link-item:not(:last-child) {
  margin-right: 50px;
}

.menu__list-link {
  position: relative;
  font-family: var(--primary-font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-text-color);
  }
}

.menu__list-link--current {
  color: var(--third-text-color);

  &::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    bottom: 0;
    left: 0;
    transform: translateY(32px);
    border-radius: 2px;
    background-color: var(--third-bcg-color);
  }
}
