.clients-item {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin-top: -30px;
  margin-left: -30px;
}

.clients-item__list {
  display: flex;
  width: 210px;
  margin-top: 30px;
  margin-left: 30px;
flex-basis: calc(100% - 30px)/2;
}

// @media screen and (max-width:479px) {
//   .clients-item__list {
//     display: flex;
//     flex-wrap: nowrap;
//     justify-content: center;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 30px;
  
//   }
// }

.clients-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--third-bcg-color);
    fill: var(--third-text-color);
  }
}

// -- DESKTOP--

// .clients-item {
//   display: flex;
//   justify-content: space-between;
// }

// .clients-item__list {
//   display: flex;
// }

// .clients-item__link {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 170px;
//   height: 92px;
//   fill: #afb1b8;
//   border: 1px solid #afb1b8;
//   border-radius: 4px;
//   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     border-color: var(--third-bcg-color);
//     fill: var(--third-text-color);
//   }
// }
