.header-contacts {
  display: flex;
}

.header-contacts__mail-tel {
  display: flex;
}

.header-contacts__mail-tel:not(:last-child) {
  margin-right: 50px;
}

.header-contacts__mail {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-text-color);
    fill: var(--third-text-color);
  }
}

.header-contacts__phone {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  fill: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--third-text-color);
    fill: var(--third-text-color);
  }
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts a {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}