.logo {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-text-color);
  margin-right: 92px;
}

.logo__word {
  color: var(--third-text-color);
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--fourth-text-color);
}

.logo-footer__word {
  color: var(--third-text-color);
}