.hero-container__main-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-family: var(--primary-font-family);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--fourth-text-color);
}

.secondary-titles {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}