:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #2196f3;
  --fourth-text-color: #ffffff;
  --fifth-text-color: rgba(255, 255, 255, 0.6);
  --logo-text-color: #000000;
  --first-bcg-color: #2f303a;
  --second-bcg-color: #f5f4fa;
  --third-bcg-color: #2196f3;
  --fourth-bcg-color: #188ce8;
  --fifth-bcg-color: #ffffff;
  --hero-bcg-color: #c4c4c4;
}
